.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 2rem;
  background-color: white;
}

.color {
  background-color: #F0EBF8;
  width: 100%;
  min-height: 100vh;
  
}

.flex {
  display: flex;
  gap: 1rem;
}

.navigation_link {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #b690f8;
  color: black;
}

