.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6rem 2rem;
  background-color: white;
}

.color {
  background-color: #F0EBF8;
  width: 100%;
  min-height: 100vh;
  
}

.flex {
  display: flex;
  gap: 1rem;
}

.navigation_link {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #b690f8;
  color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_input {
  width: 50%;
  margin-inline: auto;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 20px;
}

.title_section {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  margin-block: 20px;
  padding: 20px;
  border-radius: 2px;
}

.title {
  width: 90%;
  padding: 10px;
  font-size: 26px;
  border: transparent;
}

.title:focus, .title_textarea {
  outline: none;
  border-bottom: 1px solid black;
}

.title_textarea{
  margin-left: 10px;
  width: 100%;
  font-size: 15px;
  border: transparent;
}

.title_input {
  margin-bottom: 10px;
  width: 100%
}

.label {
  width: 70%;
  margin-right: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #F8F9FA;
}

.label2 {
  width: 80%;
  margin-top: 10px;
  margin-right: 20px;
  padding: 6px;
  font-size: 16px;
  border: none;
}

.label2:hover, label:hover {
  border-bottom: 1px solid gainsboro;
}

.label2:focus, .label:focus {
  outline: none;
  border-bottom: 1px solid gainsboro;
}

.select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: white;
}

.dummy_answer {
  width: 50%;
  color: gray;
  border: none;
  padding-bottom: 6px;
  border-bottom: 1px dotted gray;
}

.flex_row {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_column{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.flex_row2 {
  width: 50%;
}

.button {
  font-size: 16px;
  border: transparent;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #b690f8;
  margin-block: 10px;
  cursor: pointer;
}

.close_button {
  padding: 2px 10px;
  border-radius: 2px;
}
